:root {
    --main-text-color: #FFF;
    --secondary-text-color: #7D7D7D;
    --button-color: #FFB703;
    --secondary-button-color: #FB8500;
    --input-color: #DEDBD2;
    --background-color: #022D47;
}

/* ============ MAIN PAGE ============ */

body {
    margin: 0;
    background-color: var(--background-color);
    font-family: "Inter", sans-serif;
    background-image: url('./assets/circles.png');
    background-size: cover;
}

#logo-section {
    display: flex;
    flex-direction: column;
    margin: 4em auto auto;
    text-align: center;
}

#logo-section > h1 {
    margin: 0 0 0.25em 0;
    letter-spacing: 10px;
    font-size: 3rem;
    font-weight: 600;
    color: var(--main-text-color);
    font-family: "Caveat", cursive;
}

#logo-section > p {
    margin: 0;
    font-size: 0.875rem;
    color: var(--main-text-color);
    font-style: italic;
    font-weight: 200;
}

#form-section{
    margin: 0 auto;
    width: 90%;
    max-width: 360px;
}

#form-section > form {
    margin-top: 2.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#form-section > form > button {
    background-color: var(--button-color);
    border: none;
    padding: 1.5em 1.5em;
    border-radius: 18px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 3px 4px 4px 0px black;
    margin-top: 0.75em;
    margin-bottom: 1em;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#form-section > form > button:hover {
    background-color: #FB8500;
}

#form-section > form > input, #form-section > form > select {
    border-radius: 18px;
    background-color: var(--input-color);
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

#form-section > form > input {
    padding: 1.25em 1.5em;
}

#form-section > form > select {
    padding: 0.8em 1.5em;
    color: var(--secondary-text-color);
}

#custom-category {
    display: none;
}

#list-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    max-width: 360px;
    color: var(--main-text-color);
}

ul {
    gap: 0.75em;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

#list-section > ul > .bubble {
    position: relative;
    flex-grow: 1;
    list-style: none;
    text-align: center;
    font-family: "Kodchasan", sans-serif;
    border: 2px solid rgba(123, 123, 123, 0.5);
    padding: 1em 1.5em;
    border-radius: 25px;
    box-shadow: 3px 4px 8px 0px rgba(224,243,255, 0.18);
    background: radial-gradient(circle at center,
              transparent 0%,
              white 200%);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.bubble::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    width: 21px;
    height: 11px;
    background: #BABABA;
    border-radius: 50%;
    transform: rotate(-40deg);
}

.bubble:hover{
    transform: scale(1.1);
}

@keyframes pop {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.4);
        opacity: 0.6;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

#information {
    position: fixed;
    top: 0.75em;
    left: 0.5em;
    color: var(--secondary-text-color);
    cursor: pointer;
    font-size: 2rem;
    transition: color 0.3s ease;
}

#information:hover{
    color: var(--main-text-color);
}

/* ============ MODAL ============ */

#info-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
   }

   .modal-content {
    position: relative;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background: var(--background-color);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color: var(--main-text-color);
    text-align: center;
   }

   #overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(217, 217, 217, 0.18);
    z-index: 1;
   }

   #close-modal {
    top: 1em;
    right: 1em;
    position: fixed;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--secondary-text-color);
    transition: color 0.3s ease;
   }
   #close-modal:hover {
    color: var(--main-text-color)
   }

   .modal-heading {
    font-family: "Caveat", cursive;
    font-size: 2.25rem;
    font-weight: 100;
    margin-top: 1em;
    margin-bottom: 0.5em;
   }

   .modal-content > p {
    text-align: center;
    color: var(--main-text-color);
    max-width: 280px;
    margin: 0 auto;
    line-height: 1.5rem;
    font-weight: 200;
   }
/* ============ MAIN PAGE END ============ */

/* ============ SIGNUP/LOGIN PAGE START ============ */

#form-section > form > label {
    color: var(--main-text-color);
    font-size: 0.875rem;
    font-weight: 200;
    padding-left: 1em;
}

.container > p {
    color: var(--main-text-color);
    margin-top: 2em;
    font-style: italic;
    font-weight: 200;
    text-align: center;
}

a{
    color: var(--main-text-color);
    font-weight: bold;
    transition: color 0.3s ease;
}
a:hover {
    color: var(--button-color)
}
